[submodule "IronMaiden/vendors/spdlog"]
	path = IronMaiden/vendors/spdlog
	url = https://github.com/BigJMC9/spdlog
[submodule "IronMaiden/vendors/glm"]
	path = IronMaiden/vendors/glm
	url = https://github.com/g-truc/glm
[submodule "IronMaiden/vendors/glfw"]
	path = IronMaiden/vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "IronMaiden/vendors/stb"]
	path = IronMaiden/vendors/stb
	url = https://github.com/nothings/stb
[submodule "IronMaiden/vendors/tinyobjloader"]
	path = IronMaiden/vendors/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "IronMaiden/vendors/entt"]
	path = IronMaiden/vendors/entt
	url = https://github.com/skypjack/entt
[submodule "IronMaiden/vendors/yaml-cpp"]
	path = IronMaiden/vendors/yaml-cpp
	url = https://github.com/BigJMC9/yaml-cpp
[submodule "IronMaiden/vendors/imgui"]
	path = IronMaiden/vendors/imgui
	url = https://github.com/BigJMC9/imgui
[submodule "IronMaiden/vendors/ImGuizmo"]
	path = IronMaiden/vendors/ImGuizmo
	url = https://github.com/BigJMC9/ImGuizmo
[submodule "IronMaiden/vendors/OpenFBX"]
	path = IronMaiden/vendors/OpenFBX
	url = https://github.com/nem0/OpenFBX
